
.box{
Width: 200px;
Height: 100px;
Border: 3px solid;
Padding: 15px;
Margin: 10px;
border: blue;
display: block;
justify: center;


}

.box1{
    border: 3px solid red;
    background-color: rgb(158, 196, 229);
    padding: 20px;
    margin: 20px;
    
}

.box2{
    border: 3px solid rgb(68, 68, 174);
    background-color: aqua;
    padding: 20px;
    margin:20px;
}
.box3{
    border: 3px solid green;
    background-color:rgb(194, 137, 137);
    padding: 20px;
    margin: 20px;
}